.logincenter{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 500px;
    height: 280px;
    /* 下面三行保持居中 */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    z-index: 99;
}
.logintitle{
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: white;
}
